.button {
  background-color: var(--backGround_default);
}

.button > svg {
  fill: var(--primary_color);
}

.button:disabled {
  background-color: #c6c6c6;
}

.button:disabled svg {
  fill: rgb(126, 126, 126);
}


.button:not(:disabled):hover {
  background-color: var(--primary_color);
}

.button:not(:disabled):hover svg {
  fill: var(--backGround_default);
}

.wrapper input {
  border: 1px solid var(--primary_color);
}

.wrapper input:focus {
  outline: none;
  border-color: #141414;
}