:root {
  --primary_color: #DF3B67;
  --secondary_color: #444;
  --backGround_button_hover_color:#141414;
  --backGround_sideBar_color:#141414;
  --backGround_header_color:#202020;
  --backGround_default:#141414;
  --text_header_color: #c0c0c0;
  --text_color: white;
  --sub_text_color: #808080;

  --color_svg: #0FFF07;

  --shadow: 5px 5px 10px #2424242f;
  --shadow2: 0px 15px 20px -15px #24242459;
  --shadow3: 5px 5px 10px #2424240e;
  
}

ul {
  list-style: none;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary_color);
}

.swiper-pagination {
  z-index: -1;
}

/* Adicione ao seu arquivo de estilos (pode ser global ou específico para este componente) */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
